<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Probando</title>
</head>
<body>
<h1>probandoooo</h1>
<img src="Muyuna-lodge-Iquitos.webp" width="1800" height="800   "/>
<div>

        <li class="nav-item">
            <a class="nav-link" href="#">Explorar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mis vuelos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inicia Sesión</a>
        </li>
    
</div>
</body>
</html>