<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Probando</title>
</head>
<body>
<h1>probandoooo</h1>
<img src="Muyuna-lodge-Iquitos.webp" width="1800" height="800"/>
<div >
    <button type="button" class="btn btn-outline-secondary">Nuestra Flota</button>
    <button type="button" class="btn btn-outline-secondary">Oficina</button>
    <button type="button" class="btn btn-outline-secondary">Equipaje</button>
    <button type="button" class="btn btn-outline-secondary">Paquetes</button>
</div>
</body>
</html>